footer {
  background-color: rgb(92, 116, 128);
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
 
}

.newsletter {
  margin-bottom: 40px;
  margin-left: 280px;
}

.newsletter h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 18px;
  margin-bottom: 20px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  margin-left: 280px;
}

.footer-links div {
  text-align: left;
}

.footer-links h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-bottom p {
  font-size: 16px;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-bottom li {
  font-size: 16px;
}
