.wedding {
    position: relative;
    text-align: center;
    margin: 50px 0;
  }
  
  .wedding  img {
    width: 70%;
    height: 600px;
  }
  
  .wedding .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .wedding h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .wedding p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .wedding button {
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
  }
  